.details-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 20px;
    grid-gap: 20px;
}

.details-container img {
    width: 700px;
    height: 400px;
}

.detail-btn{
    background-color:#07c4fd ;
    border: none;
    border-radius: 5px;

}

@media screen and (max-width:767px) {
   .details-container{
       display: grid;
       grid-template-columns: repeat(1,1fr);
       margin: 0px;
   } 
   .details-container img {
    width:100%;
   
}
}