.nav{
    background-color:  rgb(72, 71, 69);;
    padding: 15px 0px;
    
   
}
.nav-title{
    color: rgba(255, 255, 255, 1);
    text-shadow: 2px 2px 0px rgb(60, 177, 227), 
               2px -2px 0px rgb(60, 177, 227),  
			   -2px 2px 0px rgb(60, 177, 227), 
			   -2px -2px 0px rgb(60, 177, 227),  
			   2px 0px 0px rgb(60, 177, 227), 
			   0px 2px 0px rgb(60, 177, 227),   
			   -2px 0px 0px rgb(60, 177, 227),  
			   0px -2px 0px rgb(60, 177, 227);
    
}


.logout-btn{
    
    border: none;
    color: white;
    background: none;
    border-radius: 10px;
    padding: 2px 5px;
}